root = true

[*]
charset = utf-8

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 锁进风格 tap or space
indent_style = space
# 缩进字符数
indent_size = 2

[*.go]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab

[*.{js,jsx,vue}]
indent_style = tab

